html,
body {
    height: 100%;
}

body {
    background-color: #000;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-size: 1.2em;
    * {
        color: #fff;
    }
}

#background {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -5vh;
    left: -5vw;
    height: 110vh;
    width: 110vw;
    z-index: -1;
    overflow: hidden;
    -webkit-filter: blur(30px);
    -moz-filter: blur(30px);
    -o-filter: blur(30px);
    -ms-filter: blur(30px);
    filter: blur(30px);
    opacity: 0.8;
    &.clear {
        animation: background-clear 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

@keyframes background-clear {
    0% {
        -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px);
        filter: blur(30px);
        opacity: 1;
    }
    100% {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -o-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
        opacity: 0.8;
    }
}

#container {
    max-width: 60vw;
    &.clear {
        animation: container-clear 0.5s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

@keyframes container-clear {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

#vita {
    animation-delay: .2s;
    text-shadow: 0 0 2px #000;
    *[class*="exPo"] {
        display: none;
    }
    a {
        font-weight: bold;
        text-decoration: none;

            color: #fff;
            border-bottom: 1px dotted #fff;

        &.clicked {
            font-weight: 200;
        }
        &.ext {
            text-decoration: underline;
            border-bottom: none;
            &:before {
                margin-right: 3px;
                font-size: 0.75em;
            }
        }
    }
}

#profiles {
    animation-delay: .4s;
    i {
        text-shadow: 0 0 2px #000;
        color: #FFF;
        &:hover {
            text-shadow: 0 0 10px #000;
        }
    }
    .fa-github:hover { color: #24292E; text-shadow:  0 0 10px #fff; }
    .fa-npm:hover { color: #FB3B49; }
    .fa-meetup:hover { color: #F13A59; }
    .fa-linkedin:hover { color: #0077B5; }
    .fa-xing:hover { color: #007575; }
    .fa-magento:hover { color: #f26322; }
    .fa-lastfm:hover { color: #B90000; }
    .fa-spotify:hover { color: #1DB954; }
    .fa-amazon:hover { color: #FEBD68; }
    .fa-flickr:hover { color: #128fdc; }
    .fa-playstation:hover { color: #003d91; text-shadow:  0 0 10px #fff; }
    .fa-steam:hover { color: #171a21; text-shadow:  0 0 10px #fff; }
    .fa-instagram:hover {
        background-image: radial-gradient(ellipse at bottom left, #ffdc8c 0%,#dc2864 50%,#604ac2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow:  0 0 10px #000;
    }
}

footer {
    text-shadow: 0 0 2px #000;
    font-size: 0.6em;
    animation-delay: 0.6s;
    #background-title {
        border-bottom: 1px dotted #fff;
        cursor: pointer;
    }
}

.animated {
    animation: fade-in-down .6s;
    animation-fill-mode: both;
}

@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-10px)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}